// BG
$main-bg: #31424d;
$light-bg: #355266;
$dark-bg: #29363f;
// TEXT
$main-font: #ffffff;
$light-font: #dddddd;
$dark-font: #b8d1ff;

// LINK
$chart-link: rgb(85, 162, 250);
$chart-link-hover: rgb(116, 188, 236);