@import '/src/styles/variables.scss';
@import './animations.scss';

.Navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__heading {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__icons {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__icon-box {
        border-radius: 50%;
        background-color: $main-bg;
        transition: .3s;
        &:hover {
            background-color: $light-bg;
            cursor: pointer;
        }
    }
    &__icon {
        padding: 8px;
        &--gear {
            &:hover {
                animation: gear .8s ease-in-out;
            }
        }
        &--bell {
            &:hover {
                animation: bell .8s ease-in-out;
            }
        }
        &--expand {
            &:hover {
                animation: expand .8s ease-in-out;
            }
        }
        &--app {
            &:hover {
                animation: app 1.2s;
            }
        }
        &--zoom {
            &:hover {
                animation: zoom .8s ease-in-out;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__profile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
    &__user-name {
        background-color: $light-bg;
        padding: 6px 12px;
        border-radius: 16px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: $dark-bg;
        }
    }
}