@import '/src/styles/variables.scss';

.Navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__heading {
        display: flex;
        align-items: center;
    }
    &__icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__profile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__user-name {
        background-color: $light-bg;
        padding: 6px 12px;
        border-radius: 16px;
    }
}